/* Mobile decice responsive */
@media screen and (max-width: 576px){
    /* Shared styles */
    main p{
        font-size: 0.875rem;
    }
    main .section-title {
        font-size: 1.25rem;
    }
    /* Navbar responsive start from here */
    header nav {
        padding: 24px 20px;
    }
    header nav .nav-logo a{
        gap: 8px;
    }
    header nav .nav-logo a img{
        width: 29px;
    }
    header nav .nav-logo a p{
        font-size: 21px;
    }
    nav .nav-link-container{
        display: none;
    }
     header nav .nav-icon{
        display: block;
    }
     header nav .nav-icon a{
        font-size: 24px;
    }
    /* Navbar responsive end here */

    /* Banner section responsive start from here */
    main .banner{
        margin: 0 16px;
        padding: 0 16px;
    }
    main .banner .banner-title{
        font-size: 1.375rem;
    }
    main .banner p{
        width: 100%;
        margin: 8px auto 32px;
        font-size: 0.875rem;
    }
    main .banner .banner-input-container{
        width: 100%;
    }
    main .banner .banner-input-container form{
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
    /* Banner section responsive end here */

    /* About section responsive start from here */
    main .about {
        margin: 24px 16px;
        flex-direction: column;
        gap: 24px;
    }
    main .about-content{
        width: 100%;
        gap: 16px;
    }
    main .about-content ul{
        gap: 12px;
    }
    main .about-content ul li{
        font-size: 0.875rem;
    }
    /* About section responsive end here */
}