/* Mobile decice responsive */
@media screen and (max-width: 576px){
    /* Shared styles */
    main p{
        font-size: 0.875rem;
    }
    main .section-title {
        font-size: 1.25rem;
    }
    /* Navbar responsive start from here */
    header nav {
        padding: 24px 20px;
    }
    header nav .nav-logo a{
        gap: 8px;
    }
    header nav .nav-logo a img{
        width: 29px;
    }
    header nav .nav-logo a p{
        font-size: 21px;
    }
    nav .nav-link-container{
        display: none;
    }
     header nav .nav-icon{
        display: block;
    }
     header nav .nav-icon a{
        font-size: 24px;
    }
    /* Navbar responsive end here */

    /* Banner section responsive start from here */
    main .banner{
        margin: 0 16px;
        padding: 0 16px;
    }
    main .banner .banner-title{
        font-size: 1.375rem;
    }
    main .banner p{
        width: 100%;
        margin: 8px auto 32px;
        font-size: 0.875rem;
    }
    main .banner .banner-input-container{
        width: 100%;
    }
    main .banner .banner-input-container form{
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }
    /* Banner section responsive end here */

    /* About section responsive start from here */
    main .about {
        margin: 24px 16px;
        flex-direction: column;
        gap: 24px;
    }
    main .about-content{
        width: 100%;
        gap: 16px;
    }
    main .about-content ul{
        gap: 12px;
    }
    main .about-content ul li{
        font-size: 0.875rem;
    }
    /* About section responsive end here */

    /* Destination section responsive start from here */
    main .destination{
        margin: 24px 16px;
    }
    main .section-heading{
        width: 100%;
        margin-bottom: 16px;
    }
    main .section-heading h3{
        margin-bottom: 16px;
    }
    main .destination .item-container{
        grid-template-columns: 1fr;
        gap: 16px;
    }
    main .destination .item-container img{
        height: 176px;
    }
    main .destination .item-container .item-1{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-2{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-3{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-4{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-5{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-6{
        grid-column: 1/ span 1;
    }
    main .destination .item-container .item-7{
        grid-column: 1/ span 1;
    }
    /* Destination section responsive end here */

    /* Why choose us section responsive start from here  */
    main .why{
        margin: 0 16px;
    }
    main .card-container .top{
        flex-direction: column;
    }
    main .card-container, main .top{
        gap: 16px;
    }
    main .bottom > .card{
        width: 100%;
    }
    /* Why choose us section responsive end here  */

    /* Deals and Discounts section responsive start from here */
    main .deals{
        margin: 24px 16px;
    }
    main .deals-con-main{
        gap: 16px;
    }
    main .deals-card-container{
        padding: 16px;
        align-items: end;
    }
    main .deals-card{
        width: 100%;
        padding: 25px;
    }
    main .stats-container{
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }
    main .bottom-stats{
        gap: 16px;
    }

    main .deals-card p{
        margin: 8px 0 12px;
    }
    main .deals-card .card-price{
        margin: 0 0 16px;
    }
    main .deals-card button{
        padding: 8px 20px;
        background-color: #FF5400;
    }
    /* Deals and Discounts section responsive end here */

    /* Video section responsive start from here */
    main .video{
        flex-direction: column;
        margin: 0 16px;
    }
    main .video-text, main .video-container{
        width: 100%;
    }
    main .video-text p{
        margin: 16px 0;
    }
    main .video-text ul{
        margin-bottom: 24px;
    }
    /* Video section responsive end here */

    /* Newsletter section responsive start from here */
    main .newsletter{
        flex-direction: column;
        margin: 24px 16px;
    }
    main .newsletter-content{
        padding: 24px 20px;
    }
    main .off-tag{
        width: 214.023px;
        height: 79.268px;
    }
    maib .off-tag p{
        font-size: 14px;
    }
    main .off-tag span{
        font-size: 20px;
    }
    /* Newsletter section responsive end here */

    /* Footer section responsive start from here */
    body footer {
        padding: 32px 20px;
    }
    body footer span {
        width: 100%;
    }
    body footer .copyright{
        width: 100%;
    }
    /* Footer section responsive end here */
}