/* "Mulish" font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common styles for everything */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}
ul,ol,li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    display: block;

}

/* Some shared styles for everything */
.container{
    max-width: 1170px;
    margin-inline: auto;
}

/* Navbar styles start from here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}
nav .nav-logo a{
    display: flex;
    align-items: center;
    gap: 16px;
}
nav .nav-logo a img{
    width: 40px;
}
nav .nav-logo a p{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav .nav-link-container ul{
    display: flex; 
    gap: 44px;
}
nav .nav-link-container li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
nav .nav-link-container li .active{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
nav .nav-icon{
    display: none;
}
/* Navbar styles end here */

/* Banner section styles start from here */
.banner{
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    width: 676px;
    margin: 24px auto 48px;
}
.banner .banner-input-container{
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
}
.banner .banner-input-container form{
    display: flex;
    gap: 24px;
}
.banner .banner-input-container form input{
    background-color: #FFF;
    padding: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.banner .banner-input-container form input::placeholder{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}
.banner .banner-input-container form button{
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    background: #FF5400;
    padding: 16px 32px;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* Banner section styles end here */